{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft reCAPTCHA 3 plugin for Craft CMS 3.x
 *
 * Craft reCAPTCHA 3 Settings.twig
 *
 * @author    Clark Nelson
 * @copyright Copyright (c) 2019 Clark Nelson
 * @link      http://clarknelson.com
 * @package   CraftRecaptcha3
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<p>Please visit Google's reCAPTCHA <a href="https://www.google.com/recaptcha/admin/" target="_blank">admin panel</a> to generate <a href="https://www.google.com/recaptcha/admin/create" target="_blank">new keys.</a></p>

{{ forms.textField({
    label: 'Google reCaptcha 3 Site Key',
    id: 'siteKey3',
    name: 'siteKey3',
    value: settings['siteKey3']})
}}

{{ forms.textField({
    label: 'Google reCaptcha 3 Secret Key',
    id: 'secretKey3',
    name: 'secretKey3',
    value: settings['secretKey3']})
}}


{{ forms.textField({
    label: 'Google reCaptcha 2 Site Key',
    instructions: 'Checkbox v2, not invisible',
    id: 'siteKey2',
    name: 'siteKey2',
    value: settings['siteKey2']})
}}

{{ forms.textField({
    label: 'Google reCaptcha 2 Secret Key',
    instructions: 'Checkbox v2, not invisible',
    id: 'secretKey2',
    name: 'secretKey2',
    value: settings['secretKey2']})
}}


{{ forms.textField({
    label: 'Google Recaptcha Site Key',
    instructions: 'Legacy, should be version 3 site key',
    id: 'siteKey',
    name: 'siteKey',
    value: settings['siteKey']})
}}

{{ forms.textField({
    label: 'Google Recaptcha Secret Key',
    instructions: 'Legacy, should be version 3 secret key',
    id: 'secretKey',
    name: 'secretKey',
    value: settings['secretKey']})
}}